<!-- //index.html -->
{% extends "layout.html" %}
{% block body %}
<div class="container">
  <div class="row">
    <h3 class="mb-3">Halaman Manage Orders</h3>
    <div class="col-md-4">
      {% with messages = get_flashed_messages()  %}
      {% if messages %}
      {% for message in messages %}
      <!-- <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div> -->
      {% endfor %}
      {% endif %}
      {% endwith %}
      <!-- <div class="card card-body">
      </div> -->
    </div>
    <div class="col-md-12">
      <div class="table-responsive">
        <table id="table_order" class="table table-striped table-bordered">
          <thead>
            <tr>
              <td>ID Pesanan</td>
              <td>Nama PT Enterprise</td>
              <td>Nama Barang</td>
              <td>Jumlah Barang</td>
              <td>Jenis Bayar</td>
              <td>Sign Supplier</td>
              <td>Sign Enterprise</td>
              <td>Upload Voucher</td>
              <td>Action</td>
            </tr>
          </thead>
          <tbody>
            {% for data in manage_orders %}
            <tr>
              <td>{{data.id}}</td>
              <td>{{data.nama_pt_enterprise}}</td>
              <td>{{data.nama_barang}}</td>
              <td>{{data.jumlah_barang}}</td>
              <td>{{data.jenis_bayar}}</td>
              <td>{{data.sign_supplier}}</td>
              <td>{{data.sign_enterprise}}</td>
              <td>{{data.upload_voucher}}</td>
              <td>
                <button class="btn btn-secondary btn-sm btn-view" data-order-id="{{data.id}}">View</button>
                <!-- <a href="/delete/{{data.id}}" class="btn btn-danger btn-delete btn-sm">delete</a> -->
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
<!-- <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script> -->