{% extends "layout.html" %}
<!-- {%block content%} -->
{% block body %}
<div class="row">
  <div class="col-12">
    <div class="card mx-auto" style="max-width: 28rem;">
      <div class="card-body">
        <h5 class="card-title">Pilih akun</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="/enterprise" class="btn btn-outline-danger mb-1">
            Core Enterprise
          </a>
          <a href="/supplier" class="btn btn-outline-primary mb-1">
            Supplier
          </a>
          <a href="/finance" class="btn btn-outline-success mb-1">
            Financial Institution
          </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
<!-- {%endblock%} -->
