<!-- //index.html -->
{% extends "layout.html" %} {% block body %}
<div class="container">
  <div class="row">
    <h3 class="mb-3">Halaman Manage Orders</h3>
    <div class="col-md-4">
      {% with messages = get_flashed_messages() %} {% if messages %} {% for
      message in messages %}
      <!-- <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div> -->
      {% endfor %} {% endif %} {% endwith %}
      <!-- <div class="card card-body">
      </div> -->
    </div>
    <div class="col-md-12">
      <div class="table-responsive">
        <table
          class="table table-striped table-bordered"
          id="supplier_scf_datatable"
          style="width: 100%"
        >
          <!-- id="table_order"  -->
          <thead>
            <tr>
              <td>ID Pesanan</td>
              <td>Nama PT Enterprise</td>
              <td>Nama Barang</td>
              <td>Jumlah Barang</td>
              <td>Jenis Bayar</td>
              <td>Waktu Order</td>
              <td>Sign Supplier</td>
              <td>Sign Enterprise</td>
              <td>Upload Voucher</td>
              <td>Shipment Receipt</td>
              <td>Receive Receipt</td>
              <td>Action</td>
            </tr>
          </thead>
          <tbody>
            {% for order in manage_orders %}
            <tr>
              <td>{{order.id}}</td>
              <td>{{order.enterprise.company_name}}</td>
              <td>{{order.item.name}}</td>
              <td>{{order.item_count}}</td>
              <td>{{order.payment_type.name}}</td>
              <td>{{order.created_at}}</td>
              {% if order.sign_supplier == None and order.sign_enterprise ==
              None %}
              <td><span class="badge bg-danger">Not Available</span></td>
              {% elif order.sign_supplier == None and order.sign_enterprise !=
              None %}
              <td>
                <a
                  class=""
                  data-bs-toggle="modal"
                  data-bs-target="#confirmationSupplierModal"
                  data-url="{{url_for('confirm_order_from_supplier', id=order.id)}}"
                  ><button
                    class="btn btn-primary"
                    id="submit"
                    data-order-id="{{order.id}}"
                  >
                    Confirm
                  </button>
                </a>
              </td>
              {% else %}
              <td><span class="badge bg-success">Signed</span></td>
              {%endif%} {%if order.sign_enterprise != None %}
              <td><span class="badge bg-success">Signed</span></td>
              {%else%}
              <td><span class="badge bg-danger">Not Sign</span></td>
              {%endif%}
              <td>
                {%if order.upload_voucher != None %}
                <button
                  class="btn btn-warning btn-view-get-voucher"
                  data-voucher="{{order.upload_voucher}}"
                  data-label = "Voucher"
                >
                  View
                </button>
                {%else%}
                <span class="badge bg-danger">Not Available</span>
                {%endif%}
              </td>
              <td>
                {%if order.apply_loan == None or order.apply_loan.sign_finance == None %}
                <span class="badge bg-danger">Not Available</span>
                {%elif order.shipment_receipt == None %}
                <div class="input-group">
                  <form
                    action="/api/supplier/shipment/{{order.id}}"
                    method="POST"
                    id="upload-form"
                    enctype="multipart/form-data"
                  >
                    <input
                      type="file"
                      class="form-control"
                      id="shipment_proof"
                      name="shipment_receipt_file"
                      aria-describedby="input_voucher_file"
                      aria-label="Upload"
                    />
                    <button
                      class="btn btn-outline-secondary"
                      type="submit"
                      id="input_voucher_file"
                    >
                      Submit
                    </button>
                  </form>
                </div>
                {%elif order.shipment_receipt!= None %} Submitted {%endif%}
              </td>
              <td>
                {%if order.goods_receipt != None %}
                <button
                  class="btn btn-warning btn-view-get-voucher"
                  data-voucher="{{order.goods_receipt}}"
                  data-label = "Goods Receipt"
                >
                  View
                </button>
                {%else%}
                <span class="badge bg-danger">Not Available</span>
                {%endif%}
              </td>
              <td>
                {% if order.sign_supplier == None or order.sign_enterprise ==
                None or order.upload_voucher == None %}
                <span class="badge bg-danger">Not Available</span>
                {% elif order.apply_loan %}
                <span class="badge bg-success">Submitted</span>
                <button
                  class="badge bg-primary btn-view-status"
                  data-order-id="{{order.id}}"
                >
                  View Status
                </button>
                {%else%}
                <button
                  class="btn btn-secondary btn-add-extra-data-supplier"
                  data-order-id="{{order.id}}"
                >
                  Option
                </button>
                {%endif%}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- MODAL -->
<div
  class="modal fade"
  id="confirmationSupplierModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="confirmationSupplierModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="confirmationModalLabel">Perhatian</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Pesanan yang disetujui tidak bisa diubah atau dibatalkan, mohon diperiksa
        kembali sebelum menyetujui peringatan ini. Jika anda sudah yakin klik
        tombol "Setuju"
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Tidak Setuju
        </button>
        <button type="button" id="agree" class="btn btn-primary">Setuju</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL View Voucher -->
<div
  class="modal fade"
  id="dataVoucherModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="dataVoucherModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="confirmationModalLabel">
          Voucher Piutang Dagang Enterprise
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="px-3 mt-3">
          <div class="row">
            <div class="col-12 text-center">
              <img id="do_voucher" src="" class="img-fluid" alt="voucher" />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL Check Status -->
<div
  class="modal fade"
  id="detailApplyModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="detailApplyModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Checking Status</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Horizontal Steppers -->
        <div class="container pb-5 mb-sm-4">
          <!-- Progress-->
          <div class="steps">
            <div class="steps-header">
              <div class="progress">
                <div
                  class="progress-bar"
                  role="progressbar"
                  id="progress"
                  style="width: 100%"
                  aria-valuenow="40"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
            <div class="steps-body">
              <div id="apply_loan_to_finance" class="step">
                <!-- <h1><i class="fa fa-globe"></i></h1> -->
                <span class="step-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-activity"
                  >
                    <path
                      d="M12.89 1.45l8 4A2 2 0 0 1 22 7.24v9.53a2 2 0 0 1-1.11 1.79l-8 4a2 2 0 0 1-1.79 0l-8-4a2 2 0 0 1-1.1-1.8V7.24a2 2 0 0 1 1.11-1.79l8-4a2 2 0 0 1 1.78 0z"
                    ></path>
                    <polyline points="2.32 6.16 12 11 21.68 6.16"></polyline>
                    <line x1="12" y1="22.76" x2="12" y2="11"></line>
                  </svg>
                </span>
                Create Apply Loan
              </div>
              <div id="loan_confirm_by_finance" class="step">
                <span class="step-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-activity"
                  >
                    <path d="M22 11.07V12a10 10 0 1 1-5.93-9.14"></path>
                    <polyline points="23 3 12 14 9 11"></polyline>
                  </svg>
                </span>
                Loan Confirm By Finance
              </div>
              <div id="funds_disbursed" class="step">
                <span class="step-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-activity"
                  >
                    <rect
                      x="1"
                      y="4"
                      width="22"
                      height="16"
                      rx="2"
                      ry="2"
                    ></rect>
                    <line x1="1" y1="10" x2="23" y2="10"></line>
                  </svg>
                </span>
                Funds Disbursed
              </div>
              <div id="shipment" class="step">
                <span class="step-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-truck"
                  >
                    <rect x="1" y="3" width="15" height="13"></rect>
                    <polygon
                      points="16 8 20 8 23 11 23 16 16 16 16 8"
                    ></polygon>
                    <circle cx="5.5" cy="18.5" r="2.5"></circle>
                    <circle cx="18.5" cy="18.5" r="2.5"></circle>
                  </svg>
                </span>
                Shipment
              </div>
              <div id="receive" class="step">
                <span class="step-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-gift"
                  >
                    <polyline points="20 12 20 22 4 22 4 12"></polyline>
                    <rect x="2" y="7" width="20" height="5"></rect>
                    <line x1="12" y1="22" x2="12" y2="7"></line>
                    <path
                      d="M12 7H7.5a2.5 2.5 0 0 1 0-5C11 2 12 7 12 7z"
                    ></path>
                    <path
                      d="M12 7h4.5a2.5 2.5 0 0 0 0-5C13 2 12 7 12 7z"
                    ></path>
                  </svg>
                </span>
                Receive By Enterprise
              </div>
              <div id="payment_by_buyer" class="step">
                <span class="step-icon">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-activity"
                  >
                    <path d="M22 11.07V12a10 10 0 1 1-5.93-9.14"></path>
                    <polyline points="23 3 12 14 9 11"></polyline>
                  </svg>
                </span>
                Payment by enterprise
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL Additional Data -->
<div
  class="modal fade"
  id="dataAdditionalModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="dataAdditionalModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <form
        action="/api/supplier/upload-additional-data"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="modal-header">
          <!-- <h5 class="modal-title">Data Pendukung</h5> -->
          <p>
            Silahkan lengkapi data pendukung berikut untuk keperluan data
            pinjaman ke pihak financial. Data yang telah disubmit tidak bisa
            diedit atau dihapus, mohon diperiksa kembali sebelum klik tombol
            "Ajukan Pinjaman". Jika anda tidak ingin mengajukan pinjaman,
            silahkan klik tombol "Batal Ajukan Pinjaman".
          </p>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <input
          type="hidden"
          name="order_id"
          class="additional_order_id"
          value=""
        />
        <div class="modal-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="clearfix">
                <label class="form-label"
                  >Laporan Penjualan dan Biaya Supplier</label
                >
                <div class="input-group">
                  <input
                    type="file"
                    class="form-control"
                    accept="application/pdf"
                    name="sell_order_file"
                  />
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="clearfix">
                <label class="form-label">Laporan Keuangan Supplier</label>
                <div class="input-group">
                  <input
                    type="file"
                    class="form-control"
                    accept="application/pdf"
                    name="finance_report_file"
                  />
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="clearfix">
                <label class="form-label">Rekening Koran Supplier</label>
                <div class="input-group">
                  <input
                    type="file"
                    class="form-control"
                    accept="application/pdf"
                    name="account_statement_file"
                  />
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Batal Ajukan Pinjaman
          </button>
          <button
            type="submit"
            id="apply-loan-submit"
            class="btn btn-primary"
            data-bs-dismiss="modal"
          >
            Ajukan Pinjaman
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
