<!-- //index.html -->
{% extends "layout.html" %} {% block body %}
<div class="container">
  <div class="row">
    <h3 class="mb-3">Halaman Manage Orders</h3>
    <div class="col-md-4">
      {% with messages = get_flashed_messages() %} {% if messages %} {% for
      message in messages %}
      <!-- <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div> -->
      {% endfor %} {% endif %} {% endwith %}
      <!-- <div class="card card-body">
      </div> -->
    </div>
    <div class="col-md-12">
      <div class="table-responsive">
        <table id="table_order" class="table table-striped table-bordered">
          <thead>
            <tr>
              <td>ID Pesanan</td>
              <td>Nama PT Enterprise</td>
              <td>Nama Barang</td>
              <td>Jumlah Barang</td>
              <td>Jenis Bayar</td>
              <td>Waktu Order</td>
              <td>Sign Supplier</td>
              <td>Sign Enterprise</td>
              <td>Upload Voucher</td>
              <td>Action</td>
              <!-- <td>Sign Financial</td> -->
            </tr>
          </thead>
          <tbody>
            {% for order in manage_orders %}
            <tr>
              <td>{{order.id}}</td>
              <td>{{order.enterprise.company_name}}</td>
              <td>{{order.item.name}}</td>
              <td>{{order.item_count}}</td>
              <td>{{order.payment_type.name}}</td>
              <td>{{order.created_at}}</td>
              {% if order.sign_supplier == None%}
              <td>
                <a
                  class=""
                  data-bs-toggle="modal"
                  data-bs-target="#confirmationSupplierModal"
                  data-url="{{url_for('confirm_order_from_supplier', id=order.id)}}"
                  ><button class="btn btn-primary" id="submit" data-order-id="{{order.id}}">
                    Confirm
                  </button>
                </a>
              </td>
              {%else%}
              <td><span class="badge bg-success">Signed</span></td>
              {%endif%} 
              {%if order.sign_enterprise != None %}
              <td><span class="badge bg-success">Signed</span></td>
              {%else%}
              <td><span class="badge bg-danger">Not Sign</span></td>
              {%endif%}
              <!-- <td>{{order.upload_voucher}}</td> -->
              <td>
                <button
                  class="btn btn-warning btn-view-get-voucher"
                  data-order-id="{{order.id}}">
                  View
                </button>
              </td>
              <!-- <td>{{order.upload_voucher}}</td> -->
              <td>
                <button
                  class="btn btn-secondary btn-view-upload-data"
                  data-order-id="{{order.id}}"
                >
                  Option
                </button>
              </td>
              <!-- {%if order.sign_enterprise != None %}
              <td><span class="badge bg-success">Signed</span></td>
              {%else%}
              <td><span class="badge bg-danger">Not Sign</span></td>
              {%endif%} -->
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- MODAL -->
<div
  class="modal fade"
  id="confirmationSupplierModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="confirmationSupplierModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="confirmationModalLabel">Perhatian</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Data yang telah disubmit tidak bisa diedit atau dihapus, mohon diperiksa
        kembali sebelum menyetujui peringatan ini. Jika anda sudah yakin klik
        tombol "Setuju"
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Tidak Setuju
        </button>
        <button type="button" id="agree" class="btn btn-primary">Setuju</button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL View Voucher -->
<div
  class="modal fade"
  id="dataVoucherModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="dataVoucherModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="confirmationModalLabel">Voucher Piutang Dagang Enterprise</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="px-3 mt-3">
          <div class="row">
            <div class="col-12 text-center">
              <img id="do_voucher" src="" class="img-fluid" alt="voucher">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- MODAL Additional Data -->
<div class="modal fade" id="dataAdditionalModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="dataAdditionalModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title">Data Pendukung</h5> -->
        Silahkan lengkapi data pendukung berikut untuk keperluan data pinjaman ke pihak financial.
        Data yang telah disubmit tidak bisa diedit atau dihapus, mohon diperiksa
        kembali sebelum klik tombol "Ajukan Pinjaman". Jika anda tidak ingin mengajukan pinjaman, silahkan
        klik tombol "Batal Ajukan Pinjaman".
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> 
      </div>
      
      <div class="modal-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="clearfix">
              <label class="form-label">Laporan Penjualan dan Biaya Supplier</label>
              <div class="input-group">
                <form action="#" method="POST" enctype="multipart/form-data">
                  <input type="file" class="form-control" id="voucher_file" name="file" aria-describedby="input_voucher_file" aria-label="Upload">
                  <!-- <button class="btn btn-outline-secondary" type="submit" id="input_voucher_file">Submit</button> -->
                </form>
              </div>  
            </div>
          </li>
          <li class="list-group-item">
            <div class="clearfix">
              <label class="form-label">Laporan Keuangan Supplier</label>
              <div class="input-group">
                <form action="#" method="POST" enctype="multipart/form-data">
                  <input type="file" class="form-control" id="voucher_file" name="file" aria-describedby="input_voucher_file" aria-label="Upload">
                  <!-- <button class="btn btn-outline-secondary" type="submit" id="input_voucher_file">Submit</button> -->
                </form>
              </div>  
            </div>
          </li>
          <li class="list-group-item">
            <div class="clearfix">
              <label class="form-label">Rekening Koran Supplier</label>
              <div class="input-group">
                <form action="#" method="POST" enctype="multipart/form-data">
                  <input type="file" class="form-control" id="voucher_file" name="file" aria-describedby="input_voucher_file" aria-label="Upload">
                  <!-- <button class="btn btn-outline-secondary" type="submit" id="input_voucher_file">Submit</button> -->
                </form>
              </div>  
            </div>
          </li>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Batal Ajukan Pinjaman</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ajukan Pinjaman</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
<!-- <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script> -->
