{%extends 'base.html'%} {%block content%} {%if user == "core"%}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Supplier</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>
        <p class="h4 text-success">Success</p>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>
        <p class="h4 text-danger">Reject</p>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>
        <p class="h4 text-primary">Processed</p>
      </td>
    </tr>
  </tbody>
</table>
{%else%}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Core</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>PT. Hahahihi</td>
      <td>
        <a href="/supplier/confirmation">
          <button type="button" class="btn btn-outline-primary">
            Confirm Invoice
          </button>
        </a>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>
        <button type="button" class="btn btn-outline-primary">
          Confirm Invoice
        </button>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry the Bird</td>
      <td>
        <button type="button" class="btn btn-outline-primary">
          Confirm Invoice
        </button>
      </td>
    </tr>
  </tbody>
</table>
{%endif%}
<a href="{{'/%s/register'%user|urlencode}}">
  <button type="button" class="btn btn-outline-primary">Register Loan</button>
</a>
{%endblock%}
